@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500;6..96,600;6..96,700&display=swap');

/* =========================
   CORES DO SITE
========================= */

:root {
    --preto: #0d080c;
    --vinho: #2b071d;
    --roxo: #4a0b42;
    --rosa-escuro: #8f356d;
    --rosa: #d96ba8;
    --creme: #f5d5e8;
}

/* =========================
   PÁGINA
========================= */

body {
    margin: 0;
    background: var(--preto);
    color: var(--creme);
    font-family: Arial, sans-serif;
}

/* =========================
   CABEÇALHO
========================= */

header {
    background: linear-gradient(
        90deg,
        #170014,
        #300020,
        #170014
    );

    padding: 25px;

    text-align: center;

    border-bottom: 1px solid var(--rosa-escuro);

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
}

/* Nome da loja */

header h1 {
    margin: 0;

    font-family: 'Bodoni Moda', serif;

    font-size: 48px;
    font-weight: 600;

    color: var(--creme);

    letter-spacing: 7px;

    text-shadow:
        0 0 8px rgba(255, 80, 190, 0.4),
        0 0 20px rgba(255, 80, 190, 0.2);
}

/* =========================
   BANNER
========================= */

.banner {
    height: 600px;

    background-image: url("fundo.jpg");
    background-size: cover;
    background-position: center;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Escurece a imagem */

.banner::before {
    content: "";

    position: absolute;

    inset: 0;

    background: rgba(10, 0, 8, 0.40);
}

/* =========================
   BOTÃO
========================= */

.banner .botao {
    position: relative;
    z-index: 1;

    padding: 14px 35px;

    font-family: 'Bodoni Moda', serif;
    font-size: 17px;
    font-weight: 600;

    color: white;

    background: linear-gradient(
        135deg,
        var(--roxo),
        var(--rosa-escuro)
    );

    border: 1px solid var(--creme);

    border-radius: 30px;

    cursor: pointer;

    letter-spacing: 1px;

    box-shadow:
        0 0 10px rgba(217, 107, 168, 0.5);

    transition: 0.3s;
}

/* Efeito quando passa o mouse */

.banner butao:hover {
    background: linear-gradient(
        135deg,
        var(--rosa-escuro),
        var(--rosa)
    );

    box-shadow:
        0 0 10px var(--rosa),
        0 0 25px rgba(217, 107, 168, 0.7);

    transform: scale(1.08);
}
.banner-conteudo {
    position: relative;
    z-index: 1;

    text-align: center;

    max-width: 600px;
}

.banner-conteudo h2 {
    font-family: 'Bodoni Moda', serif;

    font-size: 52px;
    font-weight: 600;

    color: white;

    margin: 0 0 10px;

    letter-spacing: 2px;

    text-shadow:
        0 0 10px rgba(0, 0, 0, 0.8),
        0 0 20px rgba(217, 107, 168, 0.5);
}

.banner-conteudo p {
    font-family: Arial, sans-serif;

    font-size: 19px;

    color: #f5d5e8;

    margin-bottom: 30px;
}
.produto img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    border-radius: 10px;
}
.produto h4 {
    font-style: italic;
    font-weight: normal;
}
.menu-direita {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    gap: 15px;
}

header {
    position: relative;
}
.menu-lateral {
     position: fixed;
     top: 0;
     right: -300px;

     width: 280px;
     height: 100vh;

     background: linear-gradient(180deg, #170014, #0d080c);

     border-left: 1px solid var(--rosa-escuro);

     box-shadow: -10px 0 30px rgba(0, 0, 0, 0.7);

     z-index: 1000;

     padding-top: 30px;

     transition: right 0.4s ease;
 }

 .menu-lateral.aberto {
     right: 0;
 }

 .menu-lateral h2 {
     text-align: center;

     font-family: 'Bodoni Moda', serif;

     color: var(--creme);

     font-size: 30px;

     letter-spacing: 4px;

     margin-bottom: 40px;
 }

 .menu-lateral a {
     display: block;

     padding: 18px 30px;

     color: var(--creme);

     text-decoration: none;

     font-family: Arial, sans-serif;

     transition: 0.3s;
 }

 .menu-lateral a:hover {
     background: var(--roxo);

     color: white;

     padding-left: 40px;
 }

 .fechar-menu {
     position: absolute;

     top: 15px;
     right: 20px;

     background: none;

     border: none;

     color: var(--creme);

     font-size: 35px;

     cursor: pointer;
 }
 /* =========================
    LOGIN
 ========================= */

 body.login {
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: var(--preto);
 }
 body.login h1 {
     margin: 0;

     font-family: 'Bodoni Moda', serif;

     font-size: 48px;
     font-weight: 600;

     color: var(--creme);

     letter-spacing: 7px;

     text-shadow:
         0 0 8px rgba(255, 80, 190, 0.4),
         0 0 20px rgba(255, 80, 190, 0.2);
 }